.Main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 4em !important;
    width: 80%;

    .Title{
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
                align-self: center;
        h4{
            margin: 0;
            font-size: 2.5em;
            color:#D74034;
            padding-top: 1rem;
            padding-bottom: 1rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    .Projects{
        display: -ms-grid;
        display: grid;
        place-items: center;
        grid-template-columns: repeat( auto-fit , minmax(20rem,1fr));
        gap: .5rem;
        row-gap: .5rem;       
        
        .Project{
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
                    flex-direction: column;
            background-color: #f7f0f0;
            padding: 1rem;
            -webkit-box-shadow: 1px 4px 10px rgba(134, 131, 131,0.6);
            box-shadow: 1px 4px 10px rgba(134, 131, 131,0.6);
            position: relative;
            -ms-flex-item-align: start;
            -webkit-align-self: flex-start;
                    align-self: flex-start;
            justify-self: flex-start;
            width: 100%;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
                        
            .Description{
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                 -webkit-align-self: center;
                        align-self: center;
                font-size: 1.2em;
                color: #9e3d36;
            }
            .Links{
                position: absolute;
                bottom: 0;
                padding-bottom: 1em;
                -ms-flex-item-align: end;
                -webkit-align-self: flex-end;
                        align-self: flex-end;

                .GitHub:hover{
                    -webkit-box-shadow: 1px 3px 5px rgb(235, 55, 55);
                    box-shadow: 1px 3px 5px rgb(235, 55, 55);
                    padding: .1em;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Projects{
        grid-template-columns: repeat( auto-fit , minmax(15rem,1fr)) !important;
    }
}