
.Main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

    .Title{
        align-self: center;
        h4{
            margin: 0;
            font-size: 2.5em;
            color:#D74034;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .Projects{
        display: grid;
        grid-template-columns: repeat( auto-fit , minmax(20rem,1fr));
        gap: 1rem;
        
        .Project{
            display: flex;
            flex-direction: column;
            background: rgb(236,210,195);
            // background:linear-gradient(123deg, rgba(236,210,195,0.6587009803921569) 0%, rgba(225,110,101,0.6867121848739496) 100%);

            background-color: #f7f0f0;
            padding: 1rem;
            box-shadow: 1px 4px 10px rgba(134, 131, 131,0.6);
            position: relative;
            box-sizing: border-box;
                        
            .Description{
                align-self: center;
                font-size: 1.4em;
                color: #9e3d36;
            }
            .Links{
                position: absolute;
                bottom: 0;
                padding-bottom: 1em;
                align-self: flex-end;

                .GitHub:hover{
                    box-shadow: 1px 3px 5px rgb(235, 55, 55);
                    padding: .1em;
                }
            }
        }
    }
}

