
.Main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

    .Title{
        align-self: center;
        h4{
            margin: 0;
            font-size: 2.5em;
            color:#D74034;
            padding-top: 1rem;
            padding-bottom: 1rem;
            box-sizing: border-box;
        }
    }

    .Projects{
        display: grid;
        place-items: center;
        grid-template-columns: repeat( auto-fit , minmax(20rem,1fr));
        gap: .5rem;
        row-gap: .5rem;
        
        .Project{
            display: flex;
            flex-direction: column;
            background-color: #f7f0f0;
            padding: 1rem;
            box-shadow: 1px 4px 10px rgba(134, 131, 131,0.6);
            position: relative;
            align-self: flex-start;
            justify-self: flex-start;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
                        
            .Description{
                align-self: center;
                font-size: 1.2em;
                color: #9e3d36;
            }
            .Links{
                position: absolute;
                bottom: 0;
                padding-bottom: 1em;
                align-self: flex-end;

                .GitHub:hover{
                    box-shadow: 1px 3px 5px rgb(235, 55, 55);
                    padding: .1em;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Projects{
        grid-template-columns: repeat( auto-fit , minmax(15rem,1fr)) !important;
    }
}