$color: #D74034;

.Main{
    padding-right: 2rem;
}
.Lines{
    width: 2.5rem;
    border-bottom: .1rem solid $color;
}

.Line1{
    @extend .Lines
}
.Line2{
    @extend .Lines;
    padding-top: .5rem;
}

.Line3{
    @extend .Lines;
    padding-top: .5rem;
}

.Line4{
    @extend .Lines;
    padding-top: .5rem;
}

.Close{
    color:  #D74034;
    font-size: 3em;
    padding:  5px;
    width: 2.4rem;
    margin-top: -0.5em;
}

