$base-padding: 1rem;
$background: #f1d9c9;
$text-color: #D74034;

.Global{
    background-color: #F4EBE5;
}

.IntroWrapper{
    height: 100vh;
    width: 100%;
    position: relative;

    .Intro{
        position: absolute;
        height: 100%;
        width: 100%;
        background : $background;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .IntroMessage{
            display:flex;
            align-items: center;
            justify-content: center;
        }
       .IntroText{
            p{
                margin: 0;
            }
            color: $text-color;
            font-size: 3.5em;
            font-weight: bold;
       }

        @media screen and (max-width:768px){
          
            .IntroMessage{
                flex-direction: column;
            }
            .IntroText{
                p{
                    margin: 0;
                }
                color: $text-color;
                font-size: 2.7em;
                font-weight:bold;
                padding-left: 1em;
           }
         
         }
    
    }
    
}

.IntroBtn{
    padding: $base-padding;
    background-color: rgb(252, 85, 8);
    border: none;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: 1px 5px 10px rgba(134, 131, 131,0.8);
    width: 15%;
    transition: background-color .8s ease-in;

}

.IntroBtn:hover{
    background-color:  rgb(131, 50, 13);
}

.IntroBtn:focus{
    outline: none;
    box-shadow: none;
}

@media screen and (max-width:768px){
    .IntroBtn{
        width: 20%;
        margin-top: 1em;
    }  
    .IntroText{
        font-size: 2.5em !important;
    }  
 }

 @media screen and (max-width:360px){
    .IntroBtn{
        width: 20%;
    }   
    .IntroText{
        font-size: 2.3em !important;       
    } 
 }







