$base-padding: 1rem;
$background: #f1d9c9;
$text-color: #D74034;

*{
    scrollbar-width: .5em;
    scrollbar-color: #D74034 #ddd6d5;
 }

::-webkit-scrollbar {
    width: .5em;
  }
  
::-webkit-scrollbar-track {
    background: #ddd6d5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #D74034;
  }

  
.Global{
    background-color: #F4EBE5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}


.IntroWrapper{
    width: 100%;
    position: relative;
    .Intro{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $background;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        animation: intro_animation 1s  ease-in forwards;

        .IntroMessage{
            display:flex;
            align-items: center;
            justify-content: center;
            margin: 0 1em;
        }
       .IntroText{
            h1,h2{
                margin: 0;
            }
            color: $text-color;
            font-size: 2.3em;
            font-weight: bold;
            box-sizing: border-box;
            line-height: 1.8em;
            padding: 0 .6em;    
       }
    
    }
    
}

.IntroBtn{
     padding: $base-padding;
    width: 15%;
    -webkit-transition: background-color .8s ease-in;
    -o-transition: background-color .8s ease-in;
    transition: background-color .8s ease-in;
    text-align: center;
    svg{
        font-size: 2em;
        color: red;
    }
    animation: intro_btn_animation .8s infinite;
}

.IntroBtn > svg:hover{
    color: rgba(252, 85, 8,.8);
}

.IntroBtn:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width:768px){
    .IntroBtn{
        width: 25%;
        margin-top: 1em;
    }  
      
    .IntroMessage{
          -webkit-box-orient: vertical;
            -webkit-box-direction: normal; 
             -webkit-flex-direction: column;
               -ms-flex-direction: column; 
                flex-direction: column-reverse;
    }
    .IntroText{
        p{
            margin: 0;
        }
        color: $text-color;
        font-weight:bold;
        text-align: center;
        font-size: 2em !important;
   }
 
 }

 @media screen and (max-width:360px){
    // .IntroBtn{
    //     visibility: hidden;
    // }   
    .IntroText{
        font-size: 1.2em !important; 
        margin-top: .5em !important;
    } 
 }

@keyframes intro_animation {
     from{
         opacity: .5;
     }
     to{
         opacity: 1;
     }
}

@keyframes intro_btn_animation {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(20px);
    }
}








