$color: #D74034;

.AboutSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 4em;

    .AboutDescription{
        display: flex;
        flex-direction: column;
        h4{
            margin: 0;
            align-self: center;
            font-size: 2.5em;
            color: #D74034; 
            padding-bottom: 1rem;;
            }
        .DescGroup{
            display: flex;
            align-items: center;
            img{
                width: clamp(18vw,25vw,20vw);
                opacity: .5;
            }
            .Text{
                color: #e7544a;
                line-height: 1.6em;
                text-align: justify;
                font-size: 1.5em;
                font-weight: 400;
                margin-left: .8em;

            }
            p{
                margin: 0;
            }
        }
       
    }
}


@media screen and (max-width:768px){

    .DescGroup{
        flex-direction: column;
        img{
            margin-top: 1em;
            margin-bottom: 2em;
        }
        .Text{
            line-height: 1.5em !important;
            font-size: 1.2em !important;
         }
        }
       
}

