$color: #D74034;

.AboutSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    .AboutDescription{
        display: flex;
        flex-direction: column;
        h4{
            margin: 0;
            align-self: center;
            font-size: 2.5em;
            color: #D74034; 
            padding-bottom: 1rem;;
            }
        .Text{
            color: #e7544a;
            line-height: 1.6em;
            text-align: justify;
            font-size: 1.5em;
            font-weight: 400;
        }
        p{
            margin: 0;
        }
    }
}

