
$nav-background: #f1d9c9;
$base-padding: 1rem;
$navColor: #D74034;
$title-font-size: 1.7em;
$title-font: Verdana;


nav{
    top: 0;
    z-index: 10;
}

.AnchorTag{
    text-decoration: none;
    color: $navColor;
    font-weight: bold;
}

.LargeDevice{
    background:$nav-background;
    color: $navColor;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   padding: $base-padding;

   div{
       a{
           @extend .AnchorTag;
           font-size: $title-font-size;
           font-family: $title-font;
       }
   }

   ul{
       display: flex;
       list-style-type: none;
       padding-right: 1em;
       a{
           @extend .AnchorTag;
           padding: $base-padding;
         }

       li{
        transition: transform .5s ease-in;
    }

    li:hover{
        transform: scale(1.3);
    }
   }
}


.SmallDevice{
   background: $nav-background;
   color: $navColor;
   padding: $base-padding;
   position: fixed;
   width: 100%;

   div{
       a{
           @extend .AnchorTag;
           font-size: $title-font-size;
           font-family: $title-font;   
       }
   }
   .Title{
       display: flex;
       justify-content: space-between;
       font-size: .8em;
   }

   ul{
       display: flex;
       flex-direction: column;
       list-style-type: none;
       align-items: flex-start;
       padding: 0;
       width: 100%;
       a{
           @extend .AnchorTag;
           display: block;
       }

       li{
        padding: .5rem;
        transition: all .5s ease-in;
         }

    li:hover{
        margin-left: .7rem;
        transform: scale(1.4);
        }
   }
}


@media screen and (max-width:768px){

   .LargeDevice{
       display: none;
   }

}

@media screen and (min-width:769px){

   .SmallDevice{
       display: none;
   }

}