$nav-background: #f1d9c9;
$base-padding: 1rem;
$navColor: #D74034;
$title-font-size: 1.7em;
$title-font: Verdana;

nav{
    top: 0;
    z-index: 10;
}

.AnchorTag{
    text-decoration: none;
    color: #fff;
}

.LargeDevice{

    background:$nav-background;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;

   div{
       padding: $base-padding;
       a{
           @extend .AnchorTag;
           font: 1.5em bold;
       }
   }

   ul{
       padding:$base-padding;
       display: flex;
       list-style-type: none;

       a{
           @extend .AnchorTag;
           padding: $base-padding;
           transition: all .4s ease-in;
       }

       a:hover{
           background-color: #0c37a3;
           border-radius: .8rem;
       }
   }
}

.SmallDevice{
   background: $nav-background;
   padding: $base-padding;
   position: fixed;
   width: 100%;

   div{
       a{
           @extend .AnchorTag;
           font: 1.5em bold;   
       }
   }
   .Title{
       display: flex;
       justify-content: space-between;
       font-size: .8em;
   }

   ul{
       display: flex;
       flex-direction: column;
       list-style-type: none;
       align-items: flex-start;
       padding: 0;
       width: 100%;
       border-bottom: 2px solid rgba(221, 121, 135,0.3);
       a{
           @extend .AnchorTag;
           display: block;
       }

       li{
           padding: .5rem;
           transition: all .5s ease-in;
       }

       li:hover{
           background-color: #0c37a3;
           border-radius: .4rem;
       }
   }
}

.ActiveLink{
    background-color: #174bcf;
    border-radius: .4rem;
    margin: .1rem;
}

.ActiveLinkSmall{
    background-color: #174bcf;
    padding: 1rem;
    border-radius: .4rem;
}

@media screen and (max-width:768px){

   .LargeDevice{
       display: none;
   }

}

@media screen and (min-width:769px){

   .SmallDevice{
       display: none;
   }

}