$background-color: rgba(172, 172, 252,0.5);
$color: #0e2869;
$padding: 1rem;
$radius: 50px;

@import './../Navigation/Navigation.module.scss';

.InputStlyes{
            border: 1px solid $color;
            padding: $padding;
            border-radius: $radius;
            color: black;
            font-size: 1em;
            background-color: $background-color;
            text-align: center;

}
.InputFocusStyles{
            border: 2px solid $color;
            outline: none;
}

.Main{
    display: grid;
    grid-template-columns: repeat( autofit, minmax(240px,1fr));
    place-items: center;

    margin-top: 1rem;
    background-color: $background-color;
    width: 100%;
    box-sizing: border-box;
    padding: $padding;

    h4{
        margin: 0;
        font-size: 2em;
        color:$color;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 50%;

        input[type='email']{
            margin: .5em;
            @extend .InputStlyes;
            transition: border .4s ease-in;
        }

        input[type='email']:focus{
            @extend .InputFocusStyles
        }

        textarea{
            margin-bottom: .5em;
            @extend .InputStlyes;
            font-size: 1.3em;
            resize: none;
            transition: border .4s ease-in;

        }

        textarea:focus{
            @extend .InputFocusStyles
        }

        button{
            height: 3rem;
            width: 60%;
            align-self: center;
            border-radius: $radius;
            outline: none;
            background-color: $color;
            box-shadow: none;
            border: none;
            color: white;
            transition: background-color .4s ease-in;
        }

        button:hover{
            background-color: #0c37a3;
        }



    }
}

.InvalidInput{
    border: 2px solid red !important;
}

